body {
    font-family:sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}
.game-board {
    margin: 25px auto;
    position: relative;
    background: aqua;
    overflow: hidden;
    width: 640px;
    height: 480px;
    border: 2px solid #ddd;
}
.game-tile {
    position: absolute;
    cursor: pointer;
    width
}