body {
    font-family:sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}
.game-board {
    margin: 30px auto;
    position: relative;
    background: aquamarine;
    overflow: hidden;
    width: 660px;
    height: 444px;
    border: 2px solid #ddd;
}
.game-tile {
    position: absolute;
    cursor: pointer;
    width: 100px;
    height: 100px;
    background: cadetblue center center no-repeat;
}
.game-score{
    text-align: center;
}